<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68732826142-ec5pmg2gfedetsv6vhgja9l710sveje7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68732826142-ec5pmg2gfedetsv6vhgja9l710sveje7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>68732826142-j6gbpfskcnt061tf79i8llrukrllatbp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAEe8qYnEj0jAI0zn-DaDy0fqN4154osE</string>
	<key>GCM_SENDER_ID</key>
	<string>68732826142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gifter</string>
	<key>PROJECT_ID</key>
	<string>gifter-38720</string>
	<key>STORAGE_BUCKET</key>
	<string>gifter-38720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68732826142:ios:d9e79e8f7f43ff1098b40f</string>
	<key>DATABASE_URL</key>
	<string>https://gifter-38720.firebaseio.com</string>
</dict>
</plist>